{% include 'header.html' %}
{% include 'navbar.html' %}

<div class="container mt-4">
    <h1 class="page-title">Gráficos Datawrapper</h1>
    <p class="text-justify">
        Esta página está dedicada a mostrar información relevante sobre los gráficos de Datawrapper, en donde el alumno muestra los gráficos, sus interpretaciones y además recomendaciones para intentar mejorar el problema del gráfico.
    </p>

    <!-- Primer gráfico de Datawrapper -->
    <div class="container mt-4">
        <iframe
            title="Gráfico interactivo de Datawrapper"
            src="https://datawrapper.dwcdn.net/wmkUs/2/"
            loading="lazy"
            width="100%"
            height="500px"
            style="border: none;"
        ></iframe>
        <p class="text-justify">

            Podemos observar en este gráfico que todas las reparaciones se hicieron en Latinoamérica, pero lo más importante de esto es que todas las reparaciones son arriba de 3 meses, ya que en San Cristóbal y Nieves la reparación promedio es de 131 días, aproximadamente 4 meses. Además, es el país con el promedio más bajo de reparación. Esto nos indica que si es un gran problema reparar los dispositivos de forma presencial. También podemos observar que lo máximo que han llegado a tardar es hasta 277 días en reparar un dispositivo, lo cual sería 9 meses, y el cual corresponde a Venezuela. Observamos igual que la media de reparación suele ser bastante alta, ya que está entre los 160 días hasta los 200 días por dispositivo. Esto puede ser debido a que tienen muchos países a los cuales no suelen tener un inventario propio, sino que exportan esos dispositivos, lo cual hace que los procesos sean más tardados.
        </p>
        <h3>Recomendación:</h3>
        <p class="text-justify">

            Buscar tener un almacén físico con dispositivos que suelen vender en cada país, o que suelen dañarse más a menudo. Esto podría ayudar bastante a evitar largas esperas en que lleguen los nuevos dispositivos, ya que los tendrían en los almacenes y podría ser más fácil acceder a ellos. Esto podría reducir hasta un mes de espera y podría ayudar a tener mayor eficacia y velocidad en los tiempos de resolución.
        </p>
    </div>

    <!-- Segundo gráfico de Datawrapper -->
    <div class="container mt-4 ">
        <div class="iframe-container">
            <iframe
                title="Gráfico interactivo de Datawrapper"
                src="https://datawrapper.dwcdn.net/lRlAu/3/ "
                loading="lazy"
                width="100%"
            height="180px"
            style="border: none;"
            ></iframe>
           
        <p class="text-justify">
            En este gráfico podemos observar que los dispositivos que proporciona la empresa son la cámara, el GPS y el monitor, todos ellos con un promedio de efectividad no tan alto (64-65%). Sin embargo, al momento de realizar las actualizaciones o darles mejor mantenimiento, mejora radicalmente su efectividad hasta un 90%. Podemos concluir que es muy beneficioso hacer los cambios a los dispositivos, ya que esto mejora ampliamente su eficacia. Para la empresa, esto significa reacciones positivas y hace que atraiga más clientes. Todo esto se puede traducir en beneficios económicos, ya que mientras más rápido hagas las cosas, más valor puedes generar.
        </p>
        <h3>Recomendacion:</h3>
        <p class="text-justify">
            Tratar de aumentar esa taza de efectividad desde AntesCambio, ya que la efectividad no tan alta puede llegar a generar problemas con los clientes, por motivos de que ellos esperaban que los dispositivos funcionaran de manera mas optima o que pueda realizar las funciones esperadas, esto ayudaría a que no les sea muy tedioso estar esperando tanto tiempo por actualizaciones de los dispositivos. </p>
        </div>
       
{% include 'footer.html' %}
