{% include 'header.html' %} 
{% include 'navbar.html' %}
<div class="container mt-4">
    <h1>Samsara</h1>
    <p class="text-justify">
        La empresa Samsara es una empresa que tiene como objetivo proporcionar dispositivos de seguridad, 
        de monitoreo de video y monitoreo de equipo. El objetivo de esto es permitir ahorrar combustible a los clientes, 
        mantenerlos protegidos mediante GPS, apoyarlos con una IA que utilizan para capacitar y proteger 
        a los empleados de una empresa.
    </p>
    <h2>Metas de Samsara:</h2>
    <ul>
        <li>
            Aumentar la seguridad, la eficiencia y la sustentabilidad de las operaciones que impulsan la economía global.
        </li>
        <li>
            Ayuda a las empresas a monitorear las emisiones de carbono y a realizar un seguimiento del uso de 
            combustible y energía, lo que les permite ahorrar millones de litros de combustible a nuestros 
            clientes cada año.
        </li>
        <li>
            Ayuda a las personas a llegar a casa de manera segura todos los días con programas de seguridad 
            basados en IA que se utilizan para capacitar y proteger a los empleados de una empresa.
        </li>
    </ul>
    <h2>Problematica de la empresa:</h2>
    <p class="text-justify">
        La empresa tiene problemas con los clientes al momento de querer realizar cambios manuales de los dispositivos ya sea porque no funciona adecuadamente o no pueden hacerle actualizaciones a los dispositivos que proporciona, ya que suele tardar hasta 3 meses o más para hacer el cambio, esto es un problema porque hace que la efectividad de los dispositivos sea baja y suele convertirse un gasto para las otras empresas.</p>
</div>


<div class="container mt-4">
    <h1>KPIs de Samsara</h1>
    <table class="table table-bordered table-striped mt-3">
        <thead class="table-primary">
            <tr>
                <th>KPI</th>
                <th>Fórmula</th>
                <th>Meta</th>
                <th>Razón</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Tiempo promedio de resolución de cambios de dispositivos</td>
                <td>Promedio de días entre solicitud de cambio y resolución</td>
                <td>Reducir el tiempo a menos de 8 semanas</td>
                <td>Permite medir la velocidad de respuesta ante problemas</td>
            </tr>
            <tr>
                <td>Porcentaje de dispositivos actualizados exitosamente</td>
                <td>
                    Número de dispositivos actualizados correctamente entre número total de dispositivos que requieren actualización × 100
                </td>
                <td>Mantener una tasa de éxito superior al 92%</td>
                <td>Asegura que los dispositivos sean funcionales tras una actualización</td>
            </tr>
            <tr>
                <td>Porcentaje de dispositivos reemplazados a tiempo</td>
                <td>No aplica</td>
                <td>Cumplir el 90% de los reemplazos en un periodo menor a 8 semanas</td>
                <td>Monitorea el cumplimiento del cronograma de reemplazos</td>
            </tr>
            <tr>
                <td>Índice de satisfacción del cliente (CSAT) después de resolución de problemas</td>
                <td>No aplica</td>
                <td>Mantener una puntuación mínima de 4.5/5</td>
                <td>Monitorea qué tan satisfechos están los clientes con el soporte y los cambios</td>
            </tr>
        </tbody>
    </table>
</div>


{% include 'footer.html' %}




