<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <!-- Logo de la marca -->

        <!-- Botón colapsable para pantallas pequeñas -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Enlaces del navbar -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <img src="/static/Samssara.jpg" alt="Samsara" style="height: 40px;">

            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/python">Gráficos de Python</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/R">Gráficos de R</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/datawriper">Gráficos de Datawriper</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/documento">Documento Completo</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
