{% include 'header.html' %}
{% include 'navbar.html' %}
<div class="container mt-4">
    <h1 class="page-title">Graficos Python</h1>
    <p class="text-justify">
        Esta página está dedicada a mostrar información relevante sobre los graficos de  Python, en donde el alumno muestra los graficos, sus interpretaciones y ademas recomendaciones para intentar mejorar el problema del gráfico.
    </p>
    <div class="Rimagenes">
        <div class="Rimagenes">
            <img src="/static/Python2.jpg" alt="Ejemplo de análisis en python" class="gallery-image">
            <p class="text-justify">
                Podemos observar en el grafico que muchos de los dispositivos se reparan entre los 200 y 150 días, esto servirá como promedio para la reparación de los equipos, además de que es muy alto, ya que muchos de los dispositivos requieren de reparación casi que instantánea. Esto es un problema para las empresas ya que daña su eficiencia, también daña su producción. Se observa igual que hay dispositivos que han tardado en reparase o darles mantenimiento hasta en 700 días que eso es una exageración de tiempo, porque es una perdida gigante de dinero y esto es muy negativo para la empresa, ya que hace que las otras empresas ya no quieran comprarnos más dispositivos por la calidad de equipos que entregamos y lo tardado que es darles mantenimiento y soporte.</P>
            <h3>Recomendacion:</h3>
            <p class="text-justify">
                Se recomienda implementar un sistema automatizado de monitoreo y actualización de dispositivos. Esto ayudaría a detectar fallas de manera anticipada y programar mantenimientos preventivos. También se podría recomendar crear un programa donde si el dispositivo es muy importante el repararlo, mandar un equipo de técnicos para que puedan solucionarlo y además de que lleven materiales o dispositivos para cambiarlo si es que se requisase.</p>
        </div>
    </div>
    <div class="Rimagenes2">
        <div class="Rimagenes2">
            <img src="/static/Python1.jpg" alt="Ejemplo de análisis en python" class="gallery-image">
            <p class="text-justify">
                En este grafico podemos observar que el estado de las actualizaciones de los dispositivos esta casi 50-50, esto no es un indicador positivo ya que, el hecho de que haya muchos dispositivos en pendiente hace que haya problemas con las empresas que los usan, ya sea porque el dispositivo les ayuda a mejorar su cantidad de combustible o los guía por una ruta rápida, y todas ellas buscan que sus dispositivos si es que se dañaron, se reparen de forma sencilla.</p>
            <h3>Recomendacion:</h3>
            <p class="text-justify">
                Se puede recomendar que implementen un sistema de gestión eficiente para priorizar y agilizar las actualizaciones y reparaciones de dispositivos.  Esto podría ser que se mejore el soporte técnico y que sea más rápido, también establecer protocolos claros para que se eviten acumular exceso de garantías y reparaciones, además de que podían ofrecer tiempos de respuesta competitivos, así podrían mejorar la confianza de los clientes y empresas.</p>
        </div>
    </div>
    
    </div>
</div>
{% include 'footer.html' %}