{% include 'header.html' %} 
{% include 'navbar.html' %}
<div class="container mt-4">
    <h1 class="page-title">Graficos R</h1>
    <p class="text-justify">
        Esta página está dedicada a mostrar información relevante sobre los graficos de  R, en donde el alumno muestra los graficos, sus interpretaciones y ademas recomendaciones para intentar mejorar el problema del gráfico.
    </p>
    <div class="Rimagenes">
        <div class="Rimagenes">
            <img src="/static/GrafR.jpg" alt="Ejemplo de análisis en R" class="gallery-image">
            <p class="text-justify">
                En este grafico podemos observar que se está hablando de 3 Dispositivos, que son los DeviceType. Podemos observar que el dispositivo que más se tarda en repararse o solucionarse es el GPS que es alrededor de 180 días promedio también observamos que el dispositivo que menos tarda en repararse o solucionarse es el monitor ya que su promedio de reparación es alrededor de 120 días. Estos periodos de tiempo son bastantes extensos ya que son dispositivos que se usan diariamente y que no funcionen al 100% de su capacidad podría generar perdidas de dinero en la empresa.</p>
            <h3>Recomendacion:</h3>
            <p class="text-justify">
                Tratar de negociar con proveedores para mejorar tiempos de soporte, capacitar al equipo técnico y usar análisis de datos para predecir problemas futuros ya sea fallos que tengan presentes o algo por el estilo. Estas acciones reducirán los tiempos de reparación y minimizarán pérdidas económicas.</p>
    </div>
    </div>
    <div class="Rimagenes2">
        <div class="Rimagenes2">
            <img src="/static/GrafR2.jpg" alt="Ejemplo de análisis en R" class="gallery-image">
            <p class="text-justify">
                Podemos observar que la frecuencia más alta de los dispositivos es la del mantenimiento, esto indica que muchos de los dispositivos no están siendo usados o que su rendimiento no es alto, esto es un problema para la empresa ya que genera falta de confianza a las empresas a las cuales les está entregando los dispositivos ya sea porque los dispositivos no se los entregan actualizados o que no sean los adecuados para lo que piden. También nos puede indicar que los dispositivos no están saliendo en buen estado. Observamos también que son menos los dispositivos que están siendo activos, esto puede ser un poco alarmante, ya que, si muchos dispositivos se entregan y no están activos o en funcionamiento, puede generar desconfianza a las empresas, y generaría que no quieran comprar más dispositivos.</p>
            <h3>Recomendacion:</h3>
            <p class="text-justify">
                Tratar de priorizar la mejora en el proceso de mantenimiento y distribución de dispositivos. Esto incluye asegurar que los dispositivos sean entregados en condiciones óptimas y actualizados según las necesidades de los clientes. Implementar controles de calidad más estrictos y un seguimiento post-entrega para garantizar que los dispositivos estén activos y cumplan con las expectativas esto ayudará a reducir la desconfianza de los clientes.</p>
    </div>
    </div>
    
    </div>
</div>

{% include 'footer.html' %}
